.cvDisplay {
	aspect-ratio: 1 / 1.4142;
	width: 90%;
	background-color: #f8f8f8;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	overflow: auto;
	background-color: #cccccc;
}
