.cvDisplay {
	aspect-ratio: 1 / 1.4142;
	width: 70%;
	background-color: black; /* For display purposes only */
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	overflow: auto;
}
