.infoEditor {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #a5a5a5;
	flex-grow: 1;
	overflow: auto;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
