.page {
	display: grid;
	grid-template-columns: 70% auto;
	grid-template-rows: 11% auto;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 40em;
	width: 40em;
}

.page :where(h2, h3, h4) {
	margin: 0;
}

.page h3 {
	border-bottom: 1px solid #cccccc;
	color: #143e72;
}

.header {
	background-color: #143e72;
	grid-column: 1 / -1;
	color: white;
	padding: 0 1em;
}

.header .name {
	font-size: 3em;
}

.header .title {
	margin: 0;
	font-size: 2em;
}

.body {
	background-color: #eeeeee;
	padding: 1em;
}

.timeline {
	display: flex;
	margin-top: 1em;
}

.timeline .date {
	margin: 0 3em 0 0;
	font-weight: bold;
	width: 30%;
}

.timeline .details h4 {
	display: inline-block;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.timeline .details p {
	margin: 0;
}

.sidebar {
	background-color: #dddddd;
	padding: 1em;
}

.sidebar img {
	width: 100%;
}
