.page {
	display: grid;
	grid-template-columns: minmax(0, 1fr) 70%;
	grid-template-rows: 15% minmax(0, 1fr);
	background-color: #fff;
	font-family: Helvetica, sans-serif;
	padding: 1em;
}

.page :where(h2, h3, h4) {
	margin: 0;
}

.page h3 {
	position: relative;
	margin-bottom: 2em;
	margin-top: 2em;
}

.page h3:first-child {
	margin-top: 0;
}

.page h3 > span {
	font-size: 1.7em;
	font-weight: normal;
}

.page h3::after {
	content: '';
	background-color: #000;
	width: 2em;
	height: 0.2em;
	position: absolute;
	bottom: -0.5em;
	left: 0;
}

.header {
	display: grid;
	grid-template-columns: 20% minmax(0, 1fr);
	grid-template-rows: 70% minmax(0, 1fr);
	grid-column: 1 / -1;
	padding: 0.5em 1em 0 0;
	border-bottom: 2px solid #ddd;
	padding: 0 0 0.5em;
	gap: 0.5em;
}

.header img {
	height: 100%;
	border-radius: 0.5em;
	grid-column: 1 / 2;
	grid-row: 1 / -1;
}

.header .name {
	font-size: 3em;
	display: flex;
	flex-direction: column;
	font-weight: normal;
}

.header .title {
	margin: 0;
	font-size: 1.5em;
	align-self: center;
	grid-row: -2 / -1;
	white-space: nowrap;
}

.body {
	padding: 1em;
	padding-right: 0;
	border-left: 2px solid #ddd;
	padding-bottom: 0;
}

.sidebar {
	padding: 1em;
	padding-left: 0;
	hyphens: auto;
	padding-bottom: 0;
}
